# Sample workflow for building and deploying a Jekyll site to GitHub Pages
name: Check Parsing Coverage

on:
  push:
    branches: ["main"]
    # Prevent infinite loops by triggering itself
    paths-ignore:
      - README.md
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Fetch Cardbase
        run: |
          cd mtg-cardbase
          python3 data_fetcher.py
      - name: Generate Card Coverage Report
        run: |
          cargo run --release --bin card_coverage >> card_coverage.md
      - name: Update README recap
        run: |
          # Remove the content between the test recap tag
          sed -i -e '/<!-- BEGIN_TEST_RECAP -->/,/<!-- END_TEST_RECAP -->/ {
              /<!-- BEGIN_TEST_RECAP -->/!{/<!-- END_TEST_RECAP -->/!d}
          }' README.md
          # Insert the generated content between the recap
          sed -i "/<!-- BEGIN_TEST_RECAP -->/r card_coverage.md" README.md
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          add: "README.md"
          message: "Update README test summary"
